.sidebar{
    background-color: rgb(255, 255, 255);
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 72px;
    z-index: 1000;
    padding-top: 5px;
}

.sidebar-link{
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

}
.sidebar-link:hover{
background-color: rgb(231, 224, 224);
}

.sidebar-link img{
    height: 25px;
}
.sidebar-link div{
    font-family: Roboto, Arial;
    font-size: 10px;
}
